div.at-share-open-control-left.ats-dark, div.at-share-open-control-right.ats-dark, div.at-share-close-control.ats-dark {
    background: #262b30 none repeat scroll 0 0;
}
div.at-share-open-control-left.ats-light, div.at-share-open-control-right.ats-light, div.at-share-close-control.ats-light {
    background: #fff none repeat scroll 0 0;
}
div.at-share-open-control-left.ats-gray, div.at-share-open-control-right.ats-gray, div.at-share-close-control.ats-gray {
    background: #f2f2f2 none repeat scroll 0 0;
}
.atss {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: fixed;
    top: 20%;
    width: 48px;
    z-index: 100020;
}
.at-share-close-control {
    overflow: auto;
    position: relative;
    width: 48px;
}
.at-share-open-control-left {
    left: 0;
    position: fixed;
    top: 20%;
    width: 22px;
    z-index: 100020;
}
.at-share-close-control .at4-arrow.at-left {
    float: right;
}
.atss-left {
    float: left;
    left: 0;
    right: auto;
}
.atss-right {
    float: right;
    left: auto;
    right: 0;
}
.atss-right.at-share-close-control .at4-arrow.at-right {
    overflow: auto;
    position: relative;
    right: 0;
}
.atss-right.at-share-close-control .at4-arrow {
    float: left;
}
.at-share-open-control-right {
    float: right;
    position: fixed;
    right: 0;
    top: 20%;
    width: 22px;
    z-index: 100020;
}
.atss-right .at-share-close-control .at4-arrow {
    float: left;
}
.atss.atss-right a {
    float: right;
}
.atss a {
    background: #e8e8e8 none repeat scroll 0 0;
    display: block;
    float: left;
    line-height: 48px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 8px 0;
    position: relative;
    text-align: center;
    text-indent: -9999em;
    transition: width 0.15s ease-in-out 0s;
    width: 48px;
    z-index: 100030;
}
.atss a:hover {
    width: 64px;
}
.addthis-smartlayers-ie6 .atss a:hover, .addthis-smartlayers-ie7 .atss a:hover, .addthis-smartlayers-ie8 .atss a:hover {
    width: 48px;
}
.atss a:last-child {
    border: medium none;
}
.atss a span {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: medium none;
    display: block;
    height: 32px;
    line-height: 32px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-indent: -9999em;
    width: 32px;
}
div#at4-share .at15t_gmail {
    height: 26px !important;
    margin: 3px auto !important;
}
a.at-svc-digg, a.at-svc-hedgehogs, a.at-svc-kaevur, a.at-svc-typepad, a.at-svc-webshare, a.at-svc-misterwong_de, a.at-svc-misterwong_ru {
    background: #080808 none repeat scroll 0 0;
}
a.at-svc-memonic {
    background: #083568 none repeat scroll 0 0;
}
a.at-svc-mashant {
    background: #085878 none repeat scroll 0 0;
}
a.at-svc-ekudos {
    background: #0c58aa none repeat scroll 0 0;
}
a.at-svc-google {
    background: #0868b9 none repeat scroll 0 0;
}
a.at-svc-amenme, a.at-svc-givealink, a.at-svc-planypus {
    background: #0872d8 none repeat scroll 0 0;
}
a.at-svc-tvinx {
    background: #0878a7 none repeat scroll 0 0;
}
a.at-svc-pusha, a.at-svc-quantcast {
    background: #0878ba none repeat scroll 0 0;
}
a.at-svc-citeulike, a.at-svc-linkshares {
    background: #0888c8 none repeat scroll 0 0;
}
a.at-svc-diigo {
    background: #0888d8 none repeat scroll 0 0;
}
a.at-svc-jumptags {
    background: #0898c7 none repeat scroll 0 0;
}
a.at-svc-yookos {
    background: #0898d8 none repeat scroll 0 0;
}
a.at-svc-faves, a.at-svc-hatena, a.at-svc-virb {
    background: #08aed9 none repeat scroll 0 0;
}
a.at-svc-internetarchive {
    background: #fff none repeat scroll 0 0;
}
a.at-svc-isociety {
    background: #096898 none repeat scroll 0 0;
}
a.at-svc-govn, a.at-svc-livejournal, a.at-svc-sonico, a.at-svc-surfingbird {
    background: #0ca8ec none repeat scroll 0 0;
}
a.at-svc-tulinq, a.at-svc-douban {
    background: #0e7512 none repeat scroll 0 0;
}
a.at-svc-classicalplace {
    background: #102831 none repeat scroll 0 0;
}
a.at-svc-voxopolis {
    background: #1097eb none repeat scroll 0 0;
}
a.at-svc-mymailru, a.at-svc-taringa, a.at-svc-w3validator {
    background: #165496 none repeat scroll 0 0;
}
a.at-svc-ketnooi {
    background: #1888b9 none repeat scroll 0 0;
}
a.at-svc-bryderi {
    background: #191819 none repeat scroll 0 0;
}
a.at-svc-youmob {
    background: #191847 none repeat scroll 0 0;
}
a.at-svc-delicious {
    background: #19559e none repeat scroll 0 0;
}
a.at-svc-baidu {
    background: #1d2fe3 none repeat scroll 0 0;
}
a.at-svc-transferr {
    background: #263847 none repeat scroll 0 0;
}
a.at-svc-aolmail, a.at-svc-gamekicker, a.at-svc-kindleit, a.at-svc-myspace, a.at-svc-netlog, a.at-svc-skyrock, a.at-svc-thisnext {
    background: #282828 none repeat scroll 0 0;
}
a.at-svc-behance, a.at-svc-bizsugar, a.at-svc-brainify {
    background: #2878ee none repeat scroll 0 0;
}
a.at-svc-yuuby {
    background: #290838 none repeat scroll 0 0;
}
a.at-svc-whatsapp, a.at-svc-domelhor {
    background: #29a628 none repeat scroll 0 0;
}
a.at-svc-sekoman {
    background: #2a58a9 none repeat scroll 0 0;
}
a.at-svc-domaintoolswhois {
    background: #305891 none repeat scroll 0 0;
}
a.at-svc-googletranslate, a.at-svc-stuffpit {
    background: #2c72c8 none repeat scroll 0 0;
}
a.at-svc-lidar, a.at-svc-twitter, a.at-svc-yammer {
    background: #2ca8d2 none repeat scroll 0 0;
}
a.at-svc-tapiture, a.at-svc-vk {
    background: #2f5070 none repeat scroll 0 0;
}
a.at-svc-facebook {
    background: #305891 none repeat scroll 0 0;
}
a.at-svc-box {
    background: #3088b1 none repeat scroll 0 0;
}
a.at-svc-newsmeback, a.at-svc-technerd {
    background: #316896 none repeat scroll 0 0;
}
a.at-svc-plaxo, a.at-svc-vybralisme {
    background: #318ef6 none repeat scroll 0 0;
}
a.at-svc-aviary, a.at-svc-blurpalicious {
    background: #33b8f8 none repeat scroll 0 0;
}
a.at-svc-fashiolista, a.at-svc-flaker, a.at-svc-supbro {
    background: #383838 none repeat scroll 0 0;
}
a.at-svc-iorbix, a.at-svc-tumblr {
    background: #384853 none repeat scroll 0 0;
}
a.at-svc-adifni, a.at-svc-safelinking {
    background: #3888c8 none repeat scroll 0 0;
}
a.at-svc-cssbased {
    background: #394918 none repeat scroll 0 0;
}
a.at-svc-dudu {
    background: #3d3d3d none repeat scroll 0 0;
}
a.at-svc-naszaklasa, a.at-svc-symbaloo {
    background: #4077a7 none repeat scroll 0 0;
}
a.at-svc-linkedin, a.at-svc-startaid {
    background: #4498c8 none repeat scroll 0 0;
}
a.at-svc-formspring, a.at-svc-fresqui {
    background: #4798d8 none repeat scroll 0 0;
}
a.at-svc-giftery, a.at-svc-gmail {
    background: #484848 none repeat scroll 0 0;
}
a.at-svc-tagza {
    background: #4888f8 none repeat scroll 0 0;
}
a.at-svc-startlap, a.at-svc-thefreedictionary {
    background: #4891b7 none repeat scroll 0 0;
}
a.at-svc-netvibes {
    background: #48d828 none repeat scroll 0 0;
}
a.at-svc-cosmiq, a.at-svc-thefancy {
    background: #4ca8d8 none repeat scroll 0 0;
}
a.at-svc-textme {
    background: #53b8dc none repeat scroll 0 0;
}
a.at-svc-bookmerkende {
    background: #558c15 none repeat scroll 0 0;
}
a.at-svc-wordpress {
    background: #585858 none repeat scroll 0 0;
}
a.at-svc-wykop {
    background: #5898c7 none repeat scroll 0 0;
}
a.at-svc-linkuj {
    background: #5898d9 none repeat scroll 0 0;
}
a.at-svc-biggerpockets, a.at-svc-fark, a.at-svc-tuenti {
    background: #5f729d none repeat scroll 0 0;
}
a.at-svc-extraplay {
    background: #61af2b none repeat scroll 0 0;
}
a.at-svc-balltribe, a.at-svc-fabulously40 {
    background: #620e18 none repeat scroll 0 0;
}
a.at-svc-cleansave, a.at-svc-newsvine {
    background: #64a556 none repeat scroll 0 0;
}
a.at-svc-favable, a.at-svc-greaterdebater, a.at-svc-jolly, a.at-svc-upnews, a.at-svc-raiseyourvoice, a.at-svc-yorumcuyum {
    background: #666 none repeat scroll 0 0;
}
a.at-svc-favlogde, a.at-svc-researchgate {
    background: #6e6e6e none repeat scroll 0 0;
}
a.at-svc-moikrug, a.at-svc-werkenntwen {
    background: #72aed0 none repeat scroll 0 0;
}
a.at-svc-email, a.at-svc-wowbored, a.at-svc-print {
    background: #738a8d none repeat scroll 0 0;
}
a.at-svc-friendfeed {
    background: #75aaeb none repeat scroll 0 0;
}
a.at-svc-efactor {
    background: #7797b7 none repeat scroll 0 0;
}
a.at-svc-yahoobkm, a.at-svc-yahoomail {
    background: #3a234f none repeat scroll 0 0;
}
a.at-svc-me2day {
    background: #7858c8 none repeat scroll 0 0;
}
a.at-svc-evernote {
    background: #7fce2c none repeat scroll 0 0;
}
a.at-svc-farkinda {
    background: #8808f8 none repeat scroll 0 0;
}
a.at-svc-goodnoows {
    background: #884989 none repeat scroll 0 0;
}
a.at-svc-colivia, a.at-svc-diggita, a.at-svc-printfriendly {
    background: #88b748 none repeat scroll 0 0;
}
a.at-svc-indexor {
    background: #8bd878 none repeat scroll 0 0;
}
a.at-svc-myvidster {
    background: #93f217 none repeat scroll 0 0;
}
a.at-svc-kledy, a.at-svc-aim, a.at-svc-arto {
    background: #8db81d none repeat scroll 0 0;
}
a.at-svc-addressbar, a.at-svc-link {
    background: #8e8e8e none repeat scroll 0 0;
}
a.at-svc-favoritus {
    background: #97462e none repeat scroll 0 0;
}
a.at-svc-cleanprint {
    background: #97ba7a none repeat scroll 0 0;
}
a.at-svc-yiid {
    background: #984877 none repeat scroll 0 0;
}
a.at-svc-adfty, a.at-svc-scoopit, a.at-svc-spinsnap, a.at-svc-yoolink {
    background: #9dcb43 none repeat scroll 0 0;
}
a.at-svc-linksgutter {
    background: #a15fa0 none repeat scroll 0 0;
}
a.at-svc-bookmarkycz, a.at-svc-misterwong {
    background: #a81818 none repeat scroll 0 0;
}
a.at-svc-gluvsnap {
    background: #a82868 none repeat scroll 0 0;
}
a.at-svc-bentio, a.at-svc-digo, a.at-svc-mrcnetworkit {
    background: #abd4ec none repeat scroll 0 0;
}
a.at-svc-camyoo {
    background: #ace8f7 none repeat scroll 0 0;
}
a.at-svc-mendeley, a.at-svc-smiru {
    background: #af122b none repeat scroll 0 0;
}
a.at-svc-kaboodle {
    background: #b0282a none repeat scroll 0 0;
}
a.at-svc-taaza {
    background: #b52918 none repeat scroll 0 0;
}
a.at-svc-historious {
    background: #b84949 none repeat scroll 0 0;
}
a.at-svc-stylishhome, a.at-svc-thewebblend, a.at-svc-thinkfinity {
    background: #bfd08d none repeat scroll 0 0;
}
a.at-svc-nujij {
    background: #c8080a none repeat scroll 0 0;
}
a.at-svc-pinterest_share {
    background: #c82828 none repeat scroll 0 0;
}
a.at-svc-bonzobox {
    background: #c83828 none repeat scroll 0 0;
}
a.at-svc-bobrdobr, a.at-svc-dropjack {
    background: #c8e8f8 none repeat scroll 0 0;
}
a.at-svc-google_plusone_share, a.at-svc-google_plusone {
    background: #ce4d39 none repeat scroll 0 0;
}
a.at-svc-cndig, a.at-svc-plurk {
    background: #d56a32 none repeat scroll 0 0;
}
a.at-svc-odnoklassniki_ru {
    background: #d57819 none repeat scroll 0 0;
}
a.at-svc-apsense {
    background: #d78818 none repeat scroll 0 0;
}
a.at-svc-markme, a.at-svc-n4g, a.at-svc-rediff, a.at-svc-sunlize {
    background: #d80808 none repeat scroll 0 0;
}
a.at-svc-scoopat {
    background: #d80819 none repeat scroll 0 0;
}
a.at-svc-logger24 {
    background: #d83838 none repeat scroll 0 0;
}
a.at-svc-beat100, a.at-svc-jappy {
    background: #d8d8d8 none repeat scroll 0 0;
}
a.at-svc-2linkme, a.at-svc-a97abi, a.at-svc-care2, a.at-svc-funp {
    background: #d8e8e8 none repeat scroll 0 0;
}
a.at-svc-ezyspot, a.at-svc-live {
    background: #d8e8f8 none repeat scroll 0 0;
}
a.at-svc-wirefan {
    background: #d8f8f8 none repeat scroll 0 0;
}
a.at-svc-blogkeen {
    background: #db69b6 none repeat scroll 0 0;
}
a.at-svc-kaixin {
    background: #dd394e none repeat scroll 0 0;
}
a.at-svc-stumbleupon, a.at-svc-vkrugudruzei {
    background: #e65229 none repeat scroll 0 0;
}
a.at-svc-disqus {
    background: #308df6 none repeat scroll 0 0;
}
a.at-svc-tumblr {
    background: #374853 none repeat scroll 0 0;
}
a.at-svc-internetarchive, a.at-svc-margarin, a.at-svc-sulia, a.at-svc-wanelo, a.at-svc-100zakladok, a.at-svc-2tag, a.at-svc-advqr, a.at-svc-reddit, a.at-svc-amazonwishlist, a.at-svc-azadegi, a.at-svc-bland, a.at-svc-blinklist, a.at-svc-blip, a.at-svc-blogmarks, a.at-svc-buddymarks, a.at-svc-buffer, a.at-svc-buzzzy, a.at-svc-cirip, a.at-svc-curateus, a.at-svc-digaculturanet, a.at-svc-dzone, a.at-svc-elefantapl, a.at-svc-financialjuice, a.at-svc-folkd, a.at-svc-foodlve, a.at-svc-fwisp, a.at-svc-gg, a.at-svc-hootsuite, a.at-svc-hotklix, a.at-svc-identica, a.at-svc-ihavegot, a.at-svc-informazione, a.at-svc-instapaper, a.at-svc-irepeater, a.at-svc-iwiw, a.at-svc-kipup, a.at-svc-kommenting, a.at-svc-latafaneracat, a.at-svc-librerio, a.at-svc-lockerblogger, a.at-svc-mailto, a.at-svc-mashbord, a.at-svc-meinvz, a.at-svc-mekusharim, a.at-svc-mixi, a.at-svc-moemesto, a.at-svc-netvouz, a.at-svc-newstrust, a.at-svc-oknotizie, a.at-svc-openthedoor, a.at-svc-orkut, a.at-svc-packg, a.at-svc-pdfonline, a.at-svc-phonefavs, a.at-svc-pocket, a.at-svc-qrfin, a.at-svc-qrsrc, a.at-svc-shaveh, a.at-svc-shetoldme, a.at-svc-socialbookmarkingnet, a.at-svc-sodahead, a.at-svc-studivz, a.at-svc-toly, a.at-svc-topsitelernet, a.at-svc-twitthis, a.at-svc-windows, a.at-svc-wishmindr, a.at-svc-zingme {
    background: #e8e8e8 none repeat scroll 0 0;
}
a.at-svc-visitezmonsite {
    background: #e8f8f8 none repeat scroll 0 0;
}
a.at-svc-dotnetshoutout {
    background: #ed490d none repeat scroll 0 0;
}
a.at-svc-bloggy, a.at-svc-chiq, a.at-svc-memori {
    background: #ee2271 none repeat scroll 0 0;
}
a.at-svc-etsy, a.at-svc-bitly {
    background: #f26e2a none repeat scroll 0 0;
}
a.at-svc-pafnetde, a.at-svc-redkum, a.at-svc-webnews {
    background: #f4080d none repeat scroll 0 0;
}
a.at-svc-draugiem, a.at-svc-hackernews {
    background: #f47312 none repeat scroll 0 0;
}
a.at-svc-favorites, a.at-svc-sinaweibo, a.at-svc-springpad {
    background: #f5ca59 none repeat scroll 0 0;
}
a.at-svc-oyyla {
    background: #f6cf0e none repeat scroll 0 0;
}
.at-logo-bg-orange, a.at-svc-compact {
    background: #f8694d none repeat scroll 0 0;
}
a.at-svc-flipboard {
    background: #af2026 none repeat scroll 0 0;
}
a.at-svc-favoritende {
    background: #f88817 none repeat scroll 0 0;
}
a.at-svc-blogger {
    background: #f8883d none repeat scroll 0 0;
}
a.at-svc-pdfmyurl, a.at-svc-svejo, a.at-svc-urlaubswerkde {
    background: #f89823 none repeat scroll 0 0;
}
a.at-svc-hotmail {
    background: #f89839 none repeat scroll 0 0;
}
a.at-svc-embarkons, a.at-svc-select2gether {
    background: #f8b016 none repeat scroll 0 0;
}
a.at-svc-sharer {
    background: #0888c8 none repeat scroll 0 0;
}
a.at-svc-gigbasket, a.at-svc-jamespot, a.at-svc-throwpile {
    background: #f8b034 none repeat scroll 0 0;
}
a.at-svc-baang, a.at-svc-posteezy, a.at-svc-storyfollower {
    background: #f8ce2c none repeat scroll 0 0;
}
a.at-svc-meneame, a.at-svc-stumpedia, a.at-svc-viadeo, a.at-svc-xanga, a.at-svc-xing, a.at-svc-yardbarker, a.at-svc-yigg, a.at-svc-zakladoknet, a.at-svc-ziczac, a.at-svc-qzone {
    background: #f8e8f8 none repeat scroll 0 0;
}
a.at-svc-thrillon {
    background: #191919 none repeat scroll 0 0;
}
#at4-share .at4-share-count-container {
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    right: auto;
    top: auto;
    width: 100%;
}
#at4-share .at4-share-count {
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 10px;
    font-weight: 200;
    height: 13px;
    line-height: 12px;
    text-indent: 0;
    width: 100%;
}
#at4-share .at4-share-count-anchor {
    padding-bottom: 15px;
    text-decoration: none;
}
.addthis-smartlayers-quirks-mode .at4-share-count-anchor {
    height: 55px;
}
#at4-share .at4-share-count-anchor {
    transition: padding 0.15s ease-in-out 0.15s, width 0.15s ease-in-out 0s;
}
