<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="secureWebPages" type="Ventaur.Web.Security.Configuration.SecureWebPageSettings, WebPageSecurity" />
  </configSections>


  <connectionStrings>
    <add name="idefloors" connectionString="Data Source=Duy;Initial Catalog=idefloors;Persist Security Info=True;User ID=sa;Password=11111; Max Pool Size=200" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <!-- Set max file size for uploading (kb)-->
    <httpRuntime executionTimeout="1800" maxRequestLength="512000" />
    <sessionState mode="InProc" cookieless="false" timeout="720" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="/Error/access-denied.html" />
      <error statusCode="404" redirect="/Error/not-found.html" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="Koutny.Web.UI.WebControls" assembly="Koutny.WebControls.DropDownGroupableList.Net2" />
        <add tagPrefix="asp" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<httpModules>
      <add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule, WebPageSecurity" />
    </httpModules>-->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <urlCompression doDynamicCompression="true" />
    <modules>
      <add name="WebPageSecurity" type="Ventaur.Web.Security.SecureWebPageModule,WebPageSecurity" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <!-- Set max file size for uploading (byte)-->
        <requestLimits maxAllowedContentLength="200000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>