<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <codeviewToolbars>
    <item type="g_start" />
    <!--<item type="image" name="Save" postback="True" />-->
    <!--<item type="image" name="Print" />-->
    <!--<item type="image" name="Find" />-->
    <item type="image" name="ToFullPage" command="FullPage" imagename="fit" hotkey="F12" />
    <item type="image" name="FromFullPage" command="FullPage" imagename="restore" hotkey="F12" />
    <item type="image" name="Cut" />
    <item type="image" name="Copy" />
    <item type="image" name="Paste" />
    <item type="image" name="SelectAll" hotkey="CTRL+A" />
    <item type="image" name="SelectNone" />
    <item type="g_end" />
  </codeviewToolbars>
  <toolbars>
    <item type="g_start" />
    <item type="image" name="Bold" />
    <item type="image" name="Italic" />
    <item type="image" name="Underline" imagename="under" />
    <item type="forecolor" />
    <item type="backcolor" />
    <item type="g_end" />
    <item type="g_start" />
    <item type="dropdown" name="FontName" width="110" text="[[FontName]]" command="FontName" />
    <item type="dropdown" name="FontSize" width="40" text="[[FontSize]]" command="FontSize" />
    <item type="g_end" />
  </toolbars>
</configuration>